<% content_for :title, "New user" %>
<div class="container my-10 mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md  py-4 px-6 sm:px-10 bg-white border-emerald-500 rounded-md">
  <h3 class="text-lg font-semibold text-slate-800">New member</h3>
  <%= render "form", user: @user %>
</div>
